.home-container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.addresses-container {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.address-container {
  background-color: #407097;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.address-part {
  display: flex;
  flex-direction: row;
}

.address-part p {
  font-size: 20px;
  margin: 0 20px;
}

.edit-address-btn {
  border: 3px solid #2b779b;
  color: #2b779b;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  font-size: 20px;
}

.edit-address-btn:hover {
  color: white;
  background-color: #2b779b;
  border: 3px solid #ffffff;
}

.del-address-btn {
  border: 3px solid #ec1515;
  color: #ec1515;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  font-size: 20px;
}

.del-address-btn:hover {
  color: white;
  background-color: #ec1515;
  border: 3px solid #ffffff;
}