.home-container {
  width: 100vw;
  height: 94vh;
  overflow-y: auto;
}

.addresses-container {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.address-container {
  background-color: #407097;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 0 3px 0 black;
}

.address-part {
  display: flex;
  flex-direction: row;
}

.address-part p {
  font-size: 20px;
  margin: 0 20px;
}

.edit-address-btn {
  border: 3px solid #2b779b;
  color: #2b779b;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  font-size: 20px;
}

.edit-address-btn:hover {
  color: white;
  background-color: #2b779b;
  border: 3px solid #ffffff;
}

.del-address-btn {
  border: 3px solid #ec1515;
  color: #ec1515;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  font-size: 20px;
}

.del-address-btn:hover {
  color: white;
  background-color: #ec1515;
  border: 3px solid #ffffff;
}

.no-address-tittle {
  width: 100%;
  text-align: center;
  font-size: 23px;
  margin: 0;
}

.home-add-address-btn {
  margin: 0 auto 0 auto;
  background-color: white;
  color: #478a47;
  border: 3px solid #478a47;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
}

.home-add-address-btn:hover {
  background-color: #478a47;
  color: white;
  border: 3px solid white;
}